<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRMtY7M1tlqtEaweG0D5iMVt6RnVn05y4</string>
	<key>GCM_SENDER_ID</key>
	<string>207045557894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tinderformovies</string>
	<key>PROJECT_ID</key>
	<string>tinderformovies-39053</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderformovies-39053.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207045557894:ios:fd038b2386f23959821b07</string>
</dict>
</plist>